name: Lint Backend

on:
  push:
    branches: [main, dev]
    paths:
      - 'backend/**'
      - 'pyproject.toml'
      - 'uv.lock'
      - '.pre-commit-config.yaml'
  pull_request:
    paths:
      - 'backend/**'
      - 'pyproject.toml'
      - 'uv.lock'
      - '.pre-commit-config.yaml'
  workflow_dispatch:

jobs:
  run-linter:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v5

      - name: Install the latest version of uv and set the python version to 3.11
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.11
          activate-environment: true

      - name: Install pre-commit
        run: uv sync --group lint --no-install-project

      - uses: actions/cache@v4
        with:
          path: .mypy_cache
          key: ${{ runner.os }}-mypy-${{ hashFiles('pyproject.toml') }}
          restore-keys: |
            ${{ runner.os }}-mypy-

      - name: pre-commit
        run: uv run --no-project pre-commit run --all-files --verbose
