name: Bun CI
on:
  push:
    branches: ['main']
  pull_request:
jobs:
  build:
    name: 'Lint Frontend'
    env:
      PUBLIC_API_BASE_URL: ''
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js
        uses: actions/setup-node@v5
        with:
          node-version: '22'
      - name: Install frontend dependencies
        run: npm ci --prefix next-app
      - run: npm run lint --prefix next-app
      # Not yet ready to enable this because there are a LOT of errors
      # - run: bun run lint:types
      #   if: success() || failure()
